<div class="container-xxl position-relative bg-white d-flex p-0">
    <span *ngIf="user.user.role == 'admin' || user.user.role == 'rh'">
        <app-sidebar-admin></app-sidebar-admin>
    </span>
    <span *ngIf="user.user.role == 'employee'">
        <app-sidebar></app-sidebar>
    </span>
    <div class="content">
        <span *ngIf="user.user.role == 'admin' || user.user.role == 'rh'">
            <app-navbar-admin></app-navbar-admin>
        </span>
        <br>
        <!-- Form Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row">
                <div class="col-sm-12 col-xl-6 mx-auto">
                    <div class="bg-light rounded h-100 p-4">
                        <h5 class="mb-4 text-success">Add Request</h5>
                        <form [formGroup]="addrequestt" #f="ngForm" (ngSubmit)="addRequestt(f); f.reset()">
                            <div class="mb-3" *ngIf="user.user.role == 'admin' || user.user.role == 'rh'">
                                <label for="user_id" class="form-label">User</label>
                                <select class="form-control custom-select" id="user_id" formControlName="user_id" name="user_id" required>
                                    <option value="" disabled selected>Select User</option>
                                    <option *ngFor="let user of dataArray.employees" [value]="user.id">{{ user.email }}</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="start_date" class="form-label">Start date</label>
                                <input type="date" class="form-control" id="start_date" formControlName="start_date" name="start_date" required>
                            </div>
                            <div class="mb-3">
                                <label for="end_date" class="form-label">End date</label>
                                <input type="date" class="form-control" id="end_date" formControlName="end_date" name="end_date" required>
                            </div>
                            <div class="mb-3">
                                <label for="reason_id" class="form-label">Reason</label>
                                <select class="form-control custom-select" id="reason_id" formControlName="reason_id" name="reason_id" required>
                                    <option value="" disabled selected>Select Reason</option>
                                    <option *ngFor="let reason of reasons" [value]="reason.id">{{ reason.name }}</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="description" class="form-label">Description</label>
                                <textarea class="form-control" id="description" formControlName="description" name="description" required></textarea>
                            </div>
                            <div class="mb-3" >
                                <label for="certificate" class="form-label">Certificate</label>
                                <input type="file" class="form-control" id="certificate" name="certificate" (change)="onFileSelected($event)">
                            </div>

                              <!-- Test for certificate display -->
                              <!-- <div *ngIf="isCertificateRequired()">
                                <p>Certificate input is displayed.</p>
                            </div>
                            <div *ngIf="!isCertificateRequired()">
                                <p>Certificate input is NOT displayed.</p>
                            </div> -->
                            <button type="submit" class="btn btn-success d-block mx-auto">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Form End -->
    </div>
</div>
