<div class="container-xxl position-relative bg-white d-flex p-0">
    <app-sidebar-admin></app-sidebar-admin>

    <div class="content">
        <app-navbar-admin></app-navbar-admin>

        <div class="container-fluid pt-4 px-4">
            <div class="bg-light text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0 text-success">Reasons ({{ dataArray?.reasons?.length }})</h6>
                    <form class="d-none d-md-flex ms-4">
                        <input class="form-control border-success" type="search" placeholder="Search ..." name="name" [(ngModel)]="searchedKeyword">
                    </form>
                </div>
                <div class="table-responsive">
                    <table class="table text-start align-middle table-bordered table-hover mb-0">
                        <thead>
                            <tr class="text-success">
                                <th scope="col">Name</th>
                                <th colspan="2">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of dataArray?.reasons | paginate: { itemsPerPage: 10, currentPage: p }">
                                <td>{{ item.name }}</td>
                                <td>
                                    <button (click)="getdata(item.name, item.id)" data-toggle="modal" data-target="#exampleModal" class="btn btn-warning rounded-pill m-2">
                                        <i class="fa fa-edit" aria-hidden="true"></i>
                                    </button>
                                </td>
                                <td>
                                    <button (click)="delete(item.id)" class="btn btn-danger rounded-pill m-2">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr *ngIf="dataArray?.reasons?.length === 0">
                                <td colspan="3" style="text-align:center;">No data found</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div style="margin-left: 60%;">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>

<!-- Modal Update -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-success text-white">
                <h5 class="modal-title" id="exampleModalLabel">Update Reason</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- form update start here -->
                <form [formGroup]="updatereasons" #f="ngForm" (ngSubmit)="updatereason(f)">
                    <div class="form-group">
                        <label for="exampleFormControlInput1" class="form-label text-success">Name</label>
                        <input type="text" class="form-control border-success" placeholder="Name" formControlName="name" [(ngModel)]="dataReason.name" required />
                        <input type="hidden" formControlName="id" [(ngModel)]="dataReason.id" /> <!-- Hidden field to store ID -->
                    </div>
                    <br>
                    <button type="submit" class="btn btn-success">Update</button>
                </form>
                <!-- form update end here -->
            </div>
        </div>
    </div>
</div>
